<ng-form class="form-inline" role="form">
    <label ng-if="path === 'definition'" for="{{ path }}">{{ descriptor.name }}</label>
    <div ng-if="canModifyDescriptor()">
        <a ng-disabled="!canDelete();" class="btn btn-xs btn-primary" ng-click="deleteDescriptor();">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <input ng-if="canModifyDescriptorName()" type="text" ng-model="descriptor.name" placeholder="Field Name" ng-change="nameChanged(descriptor);" class="input-sm form-control">
        <select ng-model="descriptor.type" ng-options="type for type in validDescriptorTypes" ng-change="typeChanged(descriptor);"></select>
        <a ng-click="isCollapsed = !isCollapsed">Attributes</a>
        <div class="row" ng-show="!isCollapsed">
            <div ng-repeat="f in additionalFields" ng-class="{ checkbox : f.type == 'checkbox', 'form-group' : f.type != 'checkbox' }">
                <label ng-if="f.type == 'checkbox'" >
                        <input type="checkbox" ng-model="descriptor[f.name]" ng-change="attrChanged(descriptor, f)"> {{ f.name }}
                </label>
                <input ng-if="f.type == 'textArray'" type="text" ng-model="descriptor[f.name]" ng-change="attrChanged(descriptor, f)" class="input-sm" placeholder="{{ f.name }}">
                <input ng-if="f.type == 'number'" type="number" ng-model="descriptor[f.name]" ng-change="attrChanged(descriptor, f)" class="input-sm" placeholder="{{ f.name }}">
                <label ng-if="f.type == 'select'"> {{ f.name }}</label>
                <select ng-if="f.type == 'select'" ng-model="descriptor[f.name]" ng-options="s.name for s in schemaList" ng-change="attrChanged(descriptor, f)"></select>
            </div>
        </div>
    </div>
    <div ng-if="isSchemaValue()">
        <label for="{{ path }}">{{ descriptor.name }}</label>
        <div ng-if="descriptor.enum" id="{{ path }}">
            <ul>
                <li>
                    <fieldset>
                    <label ng-repeat="choice in descriptor.enum">
                        <input type="checkbox"
                           ng-checked="schema[descriptor.name].indexOf(choice) >= 0"
                           ng-click="toggleChoice(choice)"> {{ choice }}
                    </label>
                    </fieldset>
                </li>
            </ul>
        </div>
        <input ng-if="!descriptor.enum" type="{{ inputType() }}" placeholder="{{descriptor.type}}" ng-model="value" ng-disabled="descriptor.readonly" ng-change="schemaValueChanged(value)" id="{{ path }}"/>
    </div>
</ng-form>
<div ng-if="canModifyChildren();">
    <ul>
        <li ng-repeat="descriptor in descriptor.children" ng-controller="SchemaDescriptorController">
            <div ng-include="'public/app/partials/schema-descriptor.html'"></div>
        </li>
        <li ng-if="canAddChildren();">
            <a class="btn btn-xs btn-primary" ng-click="addChildDescriptor();">
                <span class="glyphicon glyphicon-plus">Add</span>
            </a>
        </li>
    </ul>
</div>
