<div class="row sisui-bottom-buffer">
    <h3>
        <strong>{{ title }}</strong>
    </h3>
</div>
<div class="row sisui-bottom-buffer">
    <accordion close-others="true">
        <accordion-group ng-repeat="commit in commits">
            <accordion-heading>
                <i class="glyphicon glyphicon-plus" ng-if="commit.action == 'insert'"></i>
                <i class="glyphicon glyphicon-minus" ng-if="commit.action == 'delete'"></i>
                {{ commit.date_modified | momentUTC : 'MM/DD hh:mm' }}
                <small>{{ commit.date_modified | momentUTC }}</small>
                <span class="pull-right">{{ commit.modified_by }}</span>
            </accordion-heading>
            <div>
                <div ng-bind-html="getDiff(commit);"></div>
            </div>
        </accordion-group>
    </accordion>
    <pagination direction-links="false" boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="20" class="pagination-sm" rotate="false"></pagination>
</div>
