<div ng-switch on="fieldDescriptor.type">
    <div ng-switch-when="Document">
        <div style="width: {{ maxFieldNameLength(descriptor) | labelWidth }};">
            <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <a class="btn btn-xs btn-default collapse-btn pull-left" ng-click="isCollapsed = !isCollapsed">
                <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <label class="pull-right">{{ fieldName }}</label>
            <br style="clear: both;"/>
        </div>
        <ul collapse="isCollapsed">
            <li ng-controller="EntityDescriptorController" ng-repeat="descriptor in children" ng-init="init($parent.fieldValue, descriptor);">
                <div ng-include="'app/partials/entity-descriptor.html'"></div>
            </li>
        </ul>
    </div>
    <div ng-switch-when="Array">
        <div style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}">
            <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <a class="btn btn-xs btn-default collapse-btn pull-left" ng-click="isCollapsed = !isCollapsed">
                <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <label class="pull-right">{{ fieldName }}</label>
            <br style="clear: both;"/>
        </div>
        <div ng-if="fieldDescriptor.enum">
            <ul collapse="isCollapsed">
                <li>
                    <fieldset ng-disabled="isReadOnly();">
                        <div  ng-repeat="choice in fieldDescriptor.enum">
                            <input type="checkbox"
                                   ng-checked="fieldValue.indexOf(choice) >= 0"
                                   ng-click="toggleChoice(choice)">
                            <label style="margin-left: 4px;">{{ choice }}</label>
                        </div>
                    </fieldset>
                </li>
            </ul>
        </div>
        <div ng-if="!fieldDescriptor.enum">
            <ul collapse="isCollapsed">
                <li ng-controller="EntityDescriptorController" ng-init="init($parent.fieldValue, $parent.children[0], $index);" ng-repeat="value in fieldValue track by [lastModTime, $index]">
                    <div ng-include="'app/partials/entity-descriptor.html'"></div>
                </li>
                <li>
                    <a ng-show="canAdd();" class="btn btn-xs btn-primary" ng-click="addItem();">
                        <span class="glyphicon glyphicon-plus">Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-form="innerForm" ng-switch-default class="form-group" ng-class="{ 'has-error' : !innerForm.$valid }">
        <fieldset ng-disabled="isReadOnly();">
            <a ng-show="canDelete();" class="btn btn-xs btn-primary" ng-click="delItem(arrIdx);">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <label style="width: {{ maxFieldNameLength(descriptor, isItem()) | labelWidth }}" class="entity-label left-border" for="innerFormField">{{ fieldName }}</label>
            <sis-entity-input ref-id="refId" field-descriptor="fieldDescriptor" path="innerFormField" ng-model="fieldValue" value-changed="valueChanged" action="action"></sis-entity-input>
            <button style="margin-left: 4px;" ng-if="fieldDescriptor.ref && !isReadOnly()" class="btn btn-sm btn-info" ng-click="chooseEntity();">Choose</button>
            <a target="_blank" ng-if="refId" ui-sref="app.entities.view({ schema : fieldDescriptor.ref, eid : refId })">View</a>
            <div ng-if="!innerForm.innerFormField.$valid">
                <label style="width: {{ maxFieldNameLength(descriptor, isItem()) | labelWidth }}" class="entity-label left-border" for="innerFormField"></label>
                <small style="margin-left: 4px;" ng-if="!innerForm.innerFormField.$valid">{{ getErrorMsg(innerForm.innerFormField) }}</small>
            </div>
        </fieldset>
    </div>
</div>
