<accordion close-others="true">
    <accordion-group heading="Definition Fields">
        <div>
            <li ng-repeat="descriptor in descriptors" ng-include="'app/partials/schema-descriptor-ro.html'"></li>
        </div>
    </accordion-group>
    <accordion-group heading="JSON">
        <pre>
{{ schema | json }}
        </pre>
    </accordion-group>
    <accordion-group heading="Admins">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <td><strong>username</strong></td>
                    <td><strong>email</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in admins">
                    <td>{{ user.name }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>
