<div>
    <label class="schema-label" style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}" ng-if="path === 'definition'" for="{{ path }}">{{ descriptor.name }}</label>
    <div ng-if="canModifyDescriptor()">
        <a ng-disabled="!canDelete();" class="btn btn-xs btn-primary" ng-click="deleteDescriptor();" style="margin-right: 4px;">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <label class="schema-label" style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}" for="{{ path }}" ng-if="!descriptor._isNew_">{{ descriptor.name }}</label>
        <input style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}; margin-right: 4px;" for="{{ path }}" ng-model="descriptor.name" ng-if="canModifyDescriptorName()" ng-change="nameChanged(descriptor)" required>
        <select ng-model="descriptor.type" ng-options="type for type in validDescriptorTypes" style="margin-right: 4px;" ng-change="typeChanged(descriptor);"></select>
        <a ng-click="showAttrs();">Attributes</a>
    </div>
    <div ng-if="isSchemaValue()">
        <label class="schema-label" style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}" for="{{ path }}">{{ descriptor.name }}</label>
        <div ng-if="descriptor.enum" id="{{ path }}">
            <ul>
                <li>
                    <fieldset>
                    <label ng-repeat="choice in descriptor.enum">
                        <input type="checkbox"
                           ng-checked="schema[descriptor.name].indexOf(choice) >= 0"
                           ng-click="toggleChoice(choice)"> {{ choice }}
                    </label>
                    </fieldset>
                </li>
            </ul>
        </div>
        <input ng-if="!descriptor.enum" type="{{ inputType() }}" placeholder="{{descriptor.type}}" ng-model="value" ng-disabled="descriptor.readonly" ng-change="schemaValueChanged(value)" id="{{ path }}"/>
    </div>
</div>
<div ng-if="canModifyChildren();">
    <ul>
        <li ng-repeat="descriptor in descriptor.children" ng-controller="SchemaDescriptorController">
            <div ng-include="'app/partials/schema-descriptor.html'"></div>
        </li>
        <li ng-if="canAddChildren();">
            <a class="btn btn-xs btn-primary" ng-click="addChildDescriptor();">
                <span class="glyphicon glyphicon-plus">Add</span>
            </a>
        </li>
    </ul>
</div>
