
<div>
    <div class="modal-header">
        <h3><b>{{ name }}</b> Attributes</h3>
    </div>
    <div class="modal-body no-item-display">
        <div class="row" ng-form name="inner">
            <div ng-repeat="f in additionalFields" class="form-group">
                <label class="entity-label control-label">{{ f.name }}</label>
                <sis-schema-attr field="f" changed="attrChanged" choices="schemaList" descriptor="descriptor"></sis-schema-attr>
                <small style="margin-left: 4px;" ng-if="!inner[f.name].$valid">{{ getErrorMsg(inner[f.name]) }}</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="$dismiss('OK');">Cancel</button>
        <button ng-disabled="!inner.$valid" class="btn btn-warning" ng-click="$close(descriptor);">Ok</button>
    </div>
</div>
