<div>
    <label class="schema-label" style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}" ng-if="path === 'definition'" for="{{ path }}">{{ descriptor.name }}</label>
    <div ng-if="canModifyDescriptor()" >
        <div ng-class="{ 'input-error' : !nameForm.$valid }">
            <a ng-disabled="!canDelete();" class="btn btn-xs btn-primary" ng-click="deleteDescriptor();" style="margin-right: 4px;">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <sis-schema-field-name name="'field_' + $index" read-only="!canModifyDescriptorName()" descriptor="descriptor" change="nameChanged"></sis-schema-field-name>
            <select ng-model="descriptor.type" ng-options="type for type in validDescriptorTypes" style="margin-right: 4px;" ng-change="typeChanged(descriptor);"></select>
            <button type="button" class="btn btn-default btn-xs" ng-click="showAttrs();">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </div>
    </div>
    <div ng-if="isSchemaValue()">
        <div ng-form="valueForm">
            <label class="schema-label" style="width: {{ maxFieldNameLength(descriptor) | labelWidth }}">{{ descriptor.name }}</label>
            <div ng-if="descriptor.enum">
                <ul>
                    <li>
                        <fieldset>
                        <label ng-repeat="choice in descriptor.enum">
                            <input type="checkbox"
                               ng-checked="schema[descriptor.name].indexOf(choice) >= 0"
                               ng-click="toggleChoice(choice)"> {{ choice }}
                        </label>
                        </fieldset>
                    </li>
                </ul>
            </div>
            <input ng-if="!descriptor.enum" type="{{ inputType() }}" placeholder="{{descriptor.type}}" ng-model="value" ng-disabled="descriptor.readonly" ng-change="schemaValueChanged(value)" name="valueField" ng-pattern="{{ descriptor.match }}" ng-required="descriptor.required"/>
        </div>
    </div>
</div>
<div ng-if="canModifyChildren();">
    <ul ng-form name="childrenForm">
        <li ng-repeat="descriptor in descriptor.children" ng-controller="SchemaDescriptorController">
            <div ng-include="'app/partials/schema-descriptor.html'"></div>
        </li>
        <li ng-if="canAddChildren();">
            <a class="btn btn-xs btn-primary" ng-click="addChildDescriptor();">
                <span class="glyphicon glyphicon-plus">Add</span>
            </a>
        </li>
    </ul>
</div>
