<div ng-hide="embedded" class="col-md-2 nav-toc" ng-controller="SidebarController">
    <ul class="nav affix" role="complementary">
        <li ui-sref-active="active" ng-class="{ 'active' : $state.includes('app.entities.*') }">
            <a ui-sref="app.schemas.list">Schemas</a>
        </li>
        <li ng-if="$state.includes('app.entities.*')">
            <ul>
                <li><a ui-sref="app.entities.list({ schema : $stateParams.schema })">{{ $stateParams.schema }}</a></li>
            </ul>
        </li>
        <li ui-sref-active="active"><a ui-sref="app.hooks.list">Hooks</a></li>
        <li ui-sref-active="active"><a ui-sref="app.scripts.list">Scripts</a></li>
        <li ui-sref-active="active"><a ui-sref="app.users">Users</a></li>
    </ul>
</div>
