<div class="row sisui-bottom-buffer">
    <h3>
        <strong>SIS Users</strong>
    </h3>
</div>
<div class="row sisui-bottom-buffer">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="filter">Filter</label>
        <input ng-model="filterText" type="text" class="form-control input-sm" placeholder="Filter">
        <button type="button" class="btn btn-primary btn-sm" ng-click="filter(filterText);">Filter</button>
        <span class="glyphicon glyphicon-question-sign" ng-click="sisDlg.showFilterHelp();"></span>
        <small ng-if="filterError">{{ filterError }}</small>
      </div>
      <div class="form-group pull-right">
        <button ng-show="canAdd()" type="button" class="btn btn-primary btn-sm" ng-disabled="true">Add New</button>
      </div>
    </form>
</div>
<div class="row">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Roles</td>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>
                    <span ng-if="!user.super_user" style="margin-right: 1px;" ng-repeat="(group, role) in user.roles" class="label clickable" ng-class="{ 'label-default' : role == 'user', 'label-primary' : role == 'admin' }" title="{{ role }}" ng-click="sisDlg.showUsersInGroup(group);">{{group}}</span>
                    <span ng-click="sisDlg.showSuperUsers();" ng-if="user.super_user" class="clickable label label-success">Super User</span>
                </td>
                <td>
                    <a ng-show="!canManage(user)" class="btn btn-xs btn-default" disabled="disabled">
                        <span class="glyphicon glyphicon-lock"></span>
                    </a>
                    <a ng-show="canManage(user)" class="btn btn-xs btn-primary" ng-click="edit(user);">
                        <span class="glyphicon glyphicon-edit">Edit</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination direction-links="false" boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="20" class="pagination-sm" max-size="10" rotate="false"></pagination>
</div>