<div>
    <div class="row">
        <div class="col-md-8 text-left"><strong>{{schema}} edit</strong></div>
        <div class="col-md-4 text-right"><a href="#/remove/{{schema}}/{{doc._id}}" class="btn btn-xs btn-danger">remove</a></div>
    </div>
    <form role="form">

        <div class="form-group" ng-repeat="key in defkeys" >
            <label for="{{key}}">{{key}}</label>
            <input type="text" class="form-control" name="{{key}}" ng-model="doc[key]" />
        </div>

        <button type="submit" class="btn btn-default btn-primary" ng-click="save()">Submit</button>
    </form>
</div>

