<div>
    <div class="row">
        <div class="col-md-8 text-left"><h3>{{schema}} remove</h3></div>
    </div>
    <div class="alert alert-block alert-danger">
        <button class="close" type="button" ng-click="back()" aria-hidden="true">x</button>
        <h4>Are you sure?</h4>
        <p>You're about to delete data.  This action will result in the data being permanently removed from SIS.  It is not undoable.  Proceed with caution.</p>
        <p>
            <button ng-click="remove_entity()" class="btn btn-danger">Remove It!</button>
            <button ng-click="back()" class="btn btn-primary">I Got Here by Accident.  Take me Back!</button>
        </p>
    </div>
</div>
