<div>
    <div class="row">
        <div class="col-md-8 text-left"><h3>{{schema}} data</h3></div>
        <div class="col-md-4 text-right">
            {{record_count}} records | <a href="#/create/{{schema}}" class="btn btn-xs btn-success">New</a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th ng-repeat="key in defkeys">{{key}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in docs">
                <td ng-repeat="key in defkeys">{{doc[key]}}</td>

                <td><a class="btn btn-xs btn-primary" href="#/edit/{{schema}}/{{doc._id}}">Edit</a> | <a class="btn btn-xs btn-danger" href="#/remove/{{schema}}/{{doc._id}}">Remove</a></td>
             </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right">
            <button class="btn btn-xs" ng-click="back()">Back</button>
        </div>
    </div>
</div>
