<div>
    <div class="row">
        <div class="col-md-8 text-left"><h3>{{schema}} create</h3></div>
    </div>
    <form role="form">

        <div class="form-group" ng-repeat="key in defkeys" >
            <label for="{{key}}">{{key}}</label>
            <input type="text" class="form-control" name="{{key}}" ng-model="doc[key]" />
        </div>

        <button type="submit" class="btn btn-default btn-primary" ng-click="create()">Submit</button>
        <button class="btn" ng-click="back()">Cancel</button>
    </form>
</div>

