<div>
    <div class="row">
        <div class="col-md-8 text-left"><h3>Create Hook</h3></div>
    </div>
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" ng-model="doc.name" />
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" name="owner" ng-model="doc.owner" />
        </div>
        <div class="form-group">
            <label for="entity_type">Entity</label>
            <input type="text" class="form-control" name="entity_type" ng-model="doc.entity_type" />
        </div>
        <div class="form-group">
            <label for="target_action">Target Action</label>
            <select class="form-control" name="target_action" ng-model="doc.target.action" />
                <option value="POST">POST</option>
                <option value="GET">GET</option>
            </select>
            <label for="target_url">Target URL</label>
            <input type="text" class="form-control" name="target_url" ng-model="doc.target.url" />
        </div>
        <div class="form-group">
            Events:<br />
            <input type="checkbox" ng-model="events.insert" /> Insert <br />
            <input type="checkbox" ng-model="events.update" /> Update <br />
            <input type="checkbox" ng-model="events.delete" /> Delete <br />
        </div>

        <button type="submit" class="btn btn-default btn-primary" ng-click="save()">Submit</button>
        <button class="btn" ng-click="back()">Cancel</button>
    </form>
</div>
